[submodule "tests/vectors"]
	path = tests/vectors
	url = https://github.com/w3f/jamtestvectors.git
[submodule "tests/vectors-davxy"]
	path = tests/vectors-davxy
	url = https://github.com/davxy/jam-test-vectors.git
